/* ADD YOUR STYLES HERE */

.container1 {
    text-align: center;
}

.container1 img {
    padding: 0 20px;
    vertical-align: top;
}

.container1 p, ol {
    display: inline-block;
    vertical-align: top; 
}

.container2 {
    padding: 100px 0px;
}

.horizontalList {
    list-style: none;
}

.horizontalList li {
    float: left;
}

/* for the buttons, one big one small all others the same */
/* all buttons have same properties */
.myButton {
    display: inline-block;
    line-height: 40px;
    background-color: #E6848A;  
    color: white;
    font-size: 18px;
    font-family: 'Arial';
    width: 160px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    vertical-align: middle;
    border-style: none;
}
/* but big and small buttons have specific properities just for them */
#bigButton {
    width: 200px;
    height: 60px;
    font-size: 22px;
    line-height: 60px;
}

#smallButton {
    width: 40px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

/* For Navigation Bar... */
.navBar {
    height: 50px;
    background-color: #E6848A;
    font-size: 18px;
    font-family: 'Arial';
    border-radius: 5px;
    text-align: center;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBar li {
    float: left;
    line-height: 50px; /* same as height of .navBar to vertical center */
    width: 20%;
}

.navBar li a {
    text-decoration: none;
    color: white;
}

.navBar li:hover {
    background-color: grey;
    border-radius: 5px;
}

/* for the pagination section */
.paginationBar {
    height: 25px;
}

.paginationBar li {
    list-style: none;
    display: inline-block;
}

.paginationBar a {
    text-decoration: none;
    color: #E6848A;
    text-align: center;
    border-bottom: 2px solid #E6848A;
    padding: 5px;
}

.paginationBar span {
    color: grey;
}

.firstItem a, .lastItem a {
    border-bottom: none;
}

/* for comments stream exercise */
.comments {
    clear: left;
}

.commentsImage {
    padding: 5px;
    float: left;
}

.commentsContent {
    margin-left: 97px;
    overflow: hidden;
}

.commentsContent time {
    color: lightgrey;
    font-size: 12px;
}

/* For exercise 13, the tab group */
.tabGroup {
    height: 2em;
    padding-left: 16px;
    margin: 0;
}

.tabGroup li {
    list-style: none;
    float: left;
    margin: 0 10px 0 0;
    width: 10%;
}

.tabGroup li div {
    text-align: center;
    line-height: 2em;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #D7D0C4;
}

#activeTab {
     border-bottom: none;
}

.tabGroup li a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
    display: block;
}

.tabContent {
    clear:left;
    width: 100%;
    border: 1px solid #D7D0C4;
    border-radius: 5px;
    padding: 1em;
}